python/.idea/
python/dataset/__pycache__/
python/venv/
python/dataio/__pycache__/
python/v-env/
.idea/
v-env/
python/dataio/g2sdataset/__pycache__/
python/dataio/test/aws_config.py
*.pyc
python/go2scope/venv/
python/go2scope/dist/
python/go2scope/build/
python/go2scope/go2scope.egg-info/
python/go2scope/venv-dist/

*.class
